:root {
  --color-primary: #50dcff;
  --color-body: #d3d3d3;
  --color-headings: #ffffff;
  --color-background: #151515;
  --border-radius: 6px;
  --light-shadow: 0px 0px 10px 3px rgba(34, 255, 255, 0.2);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.anchor-scroll,
.anchor-scroll:hover,
.anchor-scroll:focus,
.anchor-scroll:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

/*Typography*/

::selection {
  background: #50dcffa4;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;

  color: var(--color-body);
}
h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--color-headings);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 8rem;
  line-height: 1;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}
p {
  line-height: 1.5;
}
.scroll-icon__text {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-body);
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 10rem;
  }
}

/* Icons */

.logo {
  fill: var(--color-headings);
  height: 30px;
}

/* Grids & Containers*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x5 {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
  }
}

/*Buttons*/

.btn {
  border-radius: var(--border-radius);
  font-size: 2.4rem;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2rem 4rem;
  margin: 1rem 0;
}

.btn--primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: none;

  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .btn-hero {
    margin-bottom: 150px;
  }
}

.btn--primary:hover {
  background: var(--color-primary);
  color: var(--color-background);
  box-shadow: var(--light-shadow);
}

.btn:focus-visible {
  color: var(--color-headings);
  box-shadow: var(--light-shadow);
}

.scroll {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .scroll {
    transform: translateY(-110px);
  }
}
@media screen and (min-width: 768px) {
  .scroll {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    top: 630px;
  }
}

/* .btn--primary:focus {
  color: var(--color-headings);
  border: 1px solid var(--color-headings);
} */

/* Headings */

.heading {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 4rem;
}
.heading p {
  max-width: 700px;
  margin: 2rem auto;
}

/* Hero */

.hero-main {
  align-self: center;
  padding: 100px 0 50px;
}

.scroll-icon {
  width: 22px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background: none;
  margin: 0 auto;
}

.scroll-icon__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-primary);

  margin: 2px auto;
  animation: scroll-effect 4s infinite;
}

@media screen and (max-width: 768px) {
  .hero-main {
    text-align: center;
    padding: 100px 0 0 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-main__desc {
    max-width: 60ch;
  }
}

/* SHAMEFUL PLACEHOLDER TRICK TO FIX POSITIONING AFTER PARALLAX */
@media screen and (min-width: 768px) {
  h1 {
    max-width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 10rem;
    max-width: 100%;
  }
}

.hero-placeholder {
  min-height: 120px;
}
@media screen and (min-width: 400px) {
  .hero-placeholder {
    min-height: 330px;
  }
}
@media screen and (min-width: 560px) {
  .hero-placeholder {
    min-height: 400px;
  }
}
@media screen and (min-width: 660px) {
  .hero-placeholder {
    min-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .hero-placeholder {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .hero-placeholder {
    display: block;
    min-height: 100px;
  }
}

/* Parallax */

.z0,
.z1,
.z2,
.z4 {
  position: absolute;

  width: 90%;
  left: 5%;

  z-index: -1;
}
.z1 {
  animation: bounce 2s infinite;
}

.z4 {
  transform-origin: 86% 28%;
  /* position: absolute;
  width: 40px;
  left: 80%;
  margin-top: 24%; */
}
.z1,
.z2,
.z4 {
  filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .z0,
  .z1,
  .z2,
  .z4 {
    width: 55%;
    min-width: 540px;
    max-width: 640px;
    top: 80px;

    left: 45%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .z0,
  .z1,
  .z2,
  .z4 {
    top: 20px;
    left: 48%;
  }
}

.spacer {
  height: 3000px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes scroll-effect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(28px);
  }
}

/* Great three cards */

.great-three-card {
  text-align: center;
  max-width: 80%;
  justify-self: center;
  margin: 4rem 0;
  transition: transform 0.3s;
}

.great-three-card:hover {
  transform: scale(1.1);
}

.great-three-card__img {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .great-three-card__arrow {
    justify-self: center;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1024px) {
  .great-three-card__arrow {
    margin-top: 100px;

    animation: bounce 1s infinite;
  }
  .great-three-card {
    max-width: 260px;
  }
}
