:root {
  --color-primary: #50dcff;
  --color-body: #d3d3d3;
  --color-headings: #ffffff;
  --color-background: #151515;
  --color-background-lighter: #212121;
  --border-radius: 6px;
  --light-shadow: 0px 0px 10px 3px rgba(34, 255, 255, 0.2);
  --gradient-primary: linear-gradient(
    90deg,
    rgba(80, 220, 255, 0) 0%,
    rgba(80, 220, 255, 1) 100%
  );
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.anchor-scroll,
.anchor-scroll:hover,
.anchor-scroll:focus,
.anchor-scroll:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

/*Typography*/

::selection {
  background: #79e4ff;
  color: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;

  color: var(--color-body);
}
h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--color-headings);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 8rem;
  line-height: 1;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}
p {
  line-height: 1.5;
}
.scroll-icon__text {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-body);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.6rem;
  }
}

/* Icons */

.icon {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}

.technologies__icon {
  font-size: 50px;
  color: rgb(71, 71, 71);
  width: 70px;
  text-align: center;
  height: 70px;
  border: 2px solid rgb(71, 71, 71);
  background: none;
  transition: all 0.3s;
  transition-property: color, border-color;
  margin: 10px;
}

.technologies__icon:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.technologies__text {
  font-size: 1.6rem;
  color: rgb(110, 110, 110);
  transition: color 0.3s;
}

.technologies__text:hover {
  color: var(--color-primary);
}

/* Grids & Containers*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-inline: 50px;
  }
}

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x5 {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
  }
}

.technologies__wrapper {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-duo {
  background: linear-gradient(
    180deg,
    var(--color-background) 50%,
    var(--color-background-lighter) 50%)
}

/* Lists  */

.card {
  position: relative;
  text-align: center;
  background: var(--color-background-lighter);
  padding: 3rem 0;
}

@media screen and (max-width: 1024px) {
  .card {
    justify-self: center;
    min-width: 400px;
  }
}

.hot-deal {
  position: absolute;
  top: 0;
  right: 8%;
  max-height: 100px;
}
.card--wrapper {
  gap: 5rem 2rem;
  
}

.card--normal {
  transform: scale(0.95);
  transition: transform 0.3s;
}
.card--premium {
  transform: scale(1.05);
  transition: transform 0.3s;

  border: 2px solid var(--color-primary);
}

.card--normal:hover {
  transform: scale(1);
}
.card--premium:hover {
  transform: scale(1.1);
}

.card__top,
.card__type,
.card__price,
.card__period {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1;
}

.card__top {
  font-size: 1.8rem;

  color: var(--color-primary);
}
.card__type {
  font-size: 4rem;
  margin-top: 0.5rem;
}
.card__price {
  font-size: 12rem;
  margin-top: 2rem;
}
.card__period {
  font-size: 2rem;
  opacity: 0.5;
}

.card__list-item {
  list-style: none;
  line-height: 2;
  text-align: left;
  font-size: 1.8rem;
}

.card__list {
  padding: 0px;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  transform: translateX(-20px);
}

.icon--list {
  margin-right: 2rem;
  color: var(--color-primary);
}

/*Buttons*/

.btn {
  border-radius: var(--border-radius);
  font-size: 2.4rem;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2rem 4rem;
  margin: 1rem 0;
}

.btn--black:active {
  background: chartreuse;
}

.btn--primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: none;

  transition: all 0.3s;
}

.btn--black {
  background: var(--color-background);
  transition: all 0.3s;
  color: white;
  border: none;
}

.btn--wide {
  width: 80%;
  min-width: 200px;
}
@media screen and (max-width: 768px) {
  .btn-hero {
    margin-bottom: 150px;
  }
}

.btn--primary:hover {
  background: var(--color-primary);
  color: var(--color-background);
  box-shadow: var(--light-shadow);
}

.btn--black:hover {
  background: #004c5f;
  
}

.btn:focus-visible {
  color: var(--color-headings);
  box-shadow: var(--light-shadow);
}

.scroll {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .scroll {
    transform: translateY(-110px);
  }
}
@media screen and (min-width: 768px) {
  .scroll {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    top: 660px;
  }
}

/* .btn--primary:focus {
  color: var(--color-headings);
  border: 1px solid var(--color-headings);
} */

/* Headings */

.heading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.heading p {
  max-width: 700px;
  margin: 2rem auto;
}

/* Hero */

.hero-main {
  align-self: center;
  padding: 100px 0 50px;
}

.scroll-icon {
  width: 22px;
  height: 50px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background: none;
  margin: 0 auto;
}

.scroll-icon__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-primary);

  margin: 2px auto;
  animation: scroll-effect 4s infinite;
}

@media screen and (max-width: 768px) {
  .hero-main {
    text-align: center;
    padding: 100px 0 0 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-main__desc {
    max-width: 60ch;
  }
}

/* SHAMEFUL PLACEHOLDER TRICK TO FIX POSITIONING AFTER PARALLAX */
@media screen and (min-width: 768px) {
  h1 {
    max-width: 300px;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 10rem;
    max-width: 100%;
  }
}

.hero-placeholder {
  min-height: 120px;
}
@media screen and (min-width: 400px) {
  .hero-placeholder {
    min-height: 330px;
  }
}
@media screen and (min-width: 560px) {
  .hero-placeholder {
    min-height: 400px;
  }
}
@media screen and (min-width: 660px) {
  .hero-placeholder {
    min-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .hero-placeholder {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .hero-placeholder {
    display: block;
    min-height: 100px;
  }
}

/* Parallax */

.z0,
.z1,
.z2,
.z4 {
  position: absolute;

  width: 90%;
  left: 5%;

  z-index: -1;
}
.z1 {
  animation: bounce 2s infinite;
}

.z4 {
  transform-origin: 86% 28%;
  /* position: absolute;
  width: 40px;
  left: 80%;
  margin-top: 24%; */
}
.z1,
.z2,
.z4 {
  filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .z0,
  .z1,
  .z2,
  .z4 {
    width: 55%;
    min-width: 540px;
    max-width: 640px;
    top: 80px;

    left: 45%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1100px) {
  .z0,
  .z1,
  .z2,
  .z4 {
    top: 20px;
    left: 48%;
  }
}

.spacer {
  height: 500px;
  background: var(--color-background-lighter);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes scroll-effect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(28px);
  }
}

/* Great three cards */

.great-three-card {
  text-align: center;
  max-width: 80%;
  justify-self: center;
  margin: 4rem 0;
  transition: transform 0.3s;
}

.great-three-card:hover {
  transform: scale(1.05);
}

.great-three-card__img {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .great-three-card__arrow {
    justify-self: center;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1024px) {
  .great-three-card__arrow {
    margin-top: 100px;

    animation: bounce 1s infinite;
  }
  .great-three-card {
    max-width: 260px;
  }
}

/* RWD Section */

.rwd__bullets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 4rem 0 4rem 0;
}
.rwd__bullets p {
  margin: 0;
  line-height: 1.5;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .rwd__bullets .media {
    align-self: center;
  }
}

.rwd-image {
  position: absolute;
  width: 100%;

  top: 75%;
  z-index: 1;
}
.rwd__heading {
  max-width: 300px;
  margin-inline: auto;
}
.rwd .grid {
  position: relative;
  min-height: 700px;
}

@media screen and (min-width: 600px) {
  .rwd__heading {
    max-width: 100%;
  }
  .rwd-image {
    top: 58%;
  }
  .rwd .grid {
    min-height: 800px;
  }
}
@media screen and (min-width: 768px) {
  .rwd__heading,
  .rwd__desription {
    text-align: left;
  }
  .rwd .grid {
    min-height: unset;
    max-height: 480px;
  }
  .rwd-image {
    position: absolute;
    width: initial;
    top: 0;

    left: 46%;
  }
}
@media screen and (min-width: 1024px) {
  .rwd .grid {
    max-height: 340px;
  }
}

.background-skewed {
  min-height: 600px;
  padding: 16rem 0 4rem;

  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  /* background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(21, 21, 21, 1) 100%
  ); */
  background: var(--color-background-lighter);
}
@media screen and (min-width: 768px) {
  .background-skewed {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (min-width: 1240px) {
  .background-skewed {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Carousel */

.carousel {
  max-width: 1240px;
}
.carousel__image {
  border-radius: 30px 0 0 30px;
  background: white;
  min-height: 300px;
}

.carousel__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-background);
  /* padding: 8rem 10%; */
  min-height: 300px;
  padding: 3rem;
  border-radius: 0 30px 30px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .carousel__image {
    border-radius: 30px 30px 0 0;
    width: 80%;
    min-width: 400px;
    max-width: 500px;

    margin: 0 auto;
  }

  .carousel__description {
    border-radius: 0 0 30px 30px;
    width: 80%;
    min-width: 400px;
    max-width: 500px;
    margin: 0 auto;
    /* padding: 4rem 10%; */
  }
}

.dot-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.carousel__dot {
  margin-inline: 5px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: none;
}
.dot--inactive {
  border: none;
  width: 8px;
  height: 8px;
  background: rgb(71, 71, 71);
}

/* Media element */

.media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Qualities section  */
#qualities {
  background: var(--color-background-lighter);
}

.qualities {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 50px;
  justify-content: center;
  max-width: 1240px;

  padding-bottom: 10rem;
}

.qualities .media {
  width: 44%;
}
@media screen and (max-width: 768px) {
  .qualities .media {
    width: 80%;
  }
}

/* Other useful data  */

.counter {
  padding: 0 6rem;
}

.invisible {
  display: none;
}

.counter__placeholder {
  height: 200px;
  opacity: 0;
}

.counter-bar {
  margin-top: 6rem;
  display: flex;
  min-width: 400px;
  max-width: 80%;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 10px solid var(--color-primary); */
  animation: hours-grow 2s;
  flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.counter-bar__border {
  height: 10px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(80, 220, 255, 0) 0%,
    rgba(80, 220, 255, 1) 100%
  );
}

.counter-barTwo {
  margin-top: 6rem;
  display: flex;
  min-width: 300px;
  max-width: 40%;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 10px solid var(--color-primary); */
  animation: hours-growTwo 2s;
  flex-wrap: wrap;
}

.counter-bar__left,
.counter-bar__right {
  display: inline;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
}

.counter-bar__left {
  line-height: 1;
  margin: 0 0 10px 0;
  max-width: 40vw;
}

.counter-bar__right {
  line-height: 0;
  margin: 0 0 24px 0;
}

/* .counter-bar__hours {
  font-size: 8rem;
  animation: counter 5s;
  counter-reset: num var(--num);
} */

@keyframes hours-grow {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

@keyframes hours-growTwo {
  0% {
    width: 10%;
  }
  100% {
    width: 40%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 27;
  inherits: false;
}

@property --numTwo {
  syntax: "<integer>";
  initial-value: 10;
  inherits: false;
}

.counter-bar__hours,
.counter-bar__hours-two {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 8rem;
  padding-right: 1rem;
}

.counter-bar__hours {
  counter-reset: num var(--num);
  animation: counter 2s;
}
.counter-bar__hours-two {
  counter-reset: numTwo var(--numTwo);
  animation: counterTwo 2s;
}
.counter-bar__hours::after {
  content: counter(num);
}

.counter-bar__hours-two::after {
  content: counter(numTwo);
}

@keyframes counter {
  0% {
    --num: 0;
  }

  100% {
    --num: 27;
  }
}

@keyframes counterTwo {
  0% {
    --numTwo: 0;
  }

  100% {
    --numTwo: 10;
  }
}



/* SKILLS SECTION  */

.skills__icon {
  width: 100px;
}

/* CTA  */

.cta {
  color: var(--color-background);
  background: var(--color-primary);
  display: flex;
  padding: 5rem;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 8rem auto;
  
}

.cta__body {
  padding-right: 5rem;
}

.cta h2 {
  color:var(--color-background);
}

@media screen and (max-width: 1024px) {
  .cta {
    flex-direction: column;
    text-align: center;
  }
  .cta__body {
    padding-right: 0;
  }
}




