<div class="card">
    <div>
      <p class="card__top">this one would be</h4>
      <p class="card__type">PREMIUM</h3>
      <p class="card__price">$14</p>
      <p class="card__period">/month</p>
    </div>
    <div class="card__list">
      <ul>
        <li class="card__list-item"><i class="fas fa-check icon--list"></i>lorem ipsum</li>
        <li class="card__list-item"><i class="fas fa-check icon--list"></i>dolor sit amet</li>
        <li class="card__list-item"><i class="fas fa-check icon--list"></i>something better</li>
      </ul>
    </div>
    <button class="btn btn--primary btn--wide">buy me</button>
  </div>